/* src/Orders.css */  
body {  
    font-family: Arial, sans-serif;  
    background-color: #f8d7da;  
    margin: 0;  
}  

.orders-container {  
    padding: 20px;  
}  


h2 {  
    text-align: center;  
    margin-top: 20px;  
}  

.orders-table {  
    width: 100%;  
    border-collapse: collapse;  
    margin-top: 20px;  
}  

.orders-table th, .orders-table td {  
    border: 1px solid #ccc;  
    padding: 10px;  
    text-align: center;  
}  

/* استجابة الجداول */  
@media (max-width: 600px) {  
    .orders-table {  
        font-size: 14px;  

}