/* src/ContactForm.css */  

.contact-container {  
    color: #743a3a;  
}  

h2 {  
    text-align: center;  
}  

label {  
    display: block;  
    margin: 10px 0 5px;  
}  

input, textarea {  
    width: 100%;  
    padding: 10px;  
    margin-bottom: 15px;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
    box-sizing: border-box;  
}  

button {
    width: 100%;
    padding: 10px;
    background-color: #F3C04F;
    color: #fff;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}  

button:hover {  
    background-color: #c99e43;  
}  
